@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;;
}

.container{
    width: 900px;
    margin: 0px auto;
}

.header{
    background-color:green;
}

.content{
    background-color: orange;
}

.footer{
    background-color: pink;
}

.job-list{
    width: 200px;
    margin-left: 30px;
}

.job-list ul li{
    border-bottom: 1px dotted orange;
    padding: 5px 0px;

}
.job-list ul{
    list-style: none;
}

.remove-job{
    color: red;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 10px;
}

.loading{
    width: 100px;
    height: 100px;
}